.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;    
  padding: 15px;
  margin: 0;             
  margin-top: 80px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px; 
}

.box{
  border: 2px solid #6e6e6e;
  border-radius: 6px;
  padding: 10px;
}

.title {
  color: antiquewhite;
  margin: 0;
  line-height: 1;
  font-size: 10vh;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.pageHeader {
  color: antiquewhite;
  margin: 0;
  line-height: 1;
  font-size: 8vh;
  margin-bottom: 20px;
  text-align: center;
}

.textBody {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6e6e6e;
  border-radius: 6px;
  padding: 12px;
  font-size: 30px;
  background-color: #acacac;
  color: #000;
}


.menuContainer {
  width: 100%;
  left: 0;
  z-index: 4;
  background-color: #1F2225;
  border-bottom: 1px solid antiquewhite;
  border-top: 1px solid antiquewhite;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuButton {
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 8px 16px;
  transition: background 0.2s ease-in-out;
}

.menuButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.fullScreen {
  height: 100vh;             
  width: 100vw;               
  background-color: black;   
  display: flex;    
  flex-direction: column;         
  align-items: center;        
  justify-content: center;    
}

.fadeText {
  font-size: 100px;
  max-width: 1000px;           
  color: red;              
  opacity: 0;                
  animation: fadeIn 4s ease-in forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeButton {
  font-size: 24px;
  padding: 15px 40px;
  color: rgb(0, 0, 0);
  background-color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 2s ease;
  margin-top: 30px;
}

.fadeButton.visible {
  opacity: 1;
}

.fadeButton.hidden {
  opacity: 0;
  pointer-events: none;
}

.fadeButton:hover {
  background-color: darkred;
}